---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="CAT 1 Final Portfolio"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<h3>Part 1</h3>
	<p>
		Throughout the course of CAT 1, I feel that I have greatly improved my communication skills and strategies. I have learned how to extract the important information and main ideas from others’ writing and media and how to summarize them in a clear and concise manner. I have also gained knowledge on how to respond from my perspective and give commentary from my stance on the topic. Additionally, I have learned how to apply feedback I’ve received from my peers and my TA, as well as how to give constructive feedback to my peers too. For example, in my Week 3 Response, I described the beauty of the trees and soil and nature in Sixth College and how it harmoniously coexists with the buildings and architecture surrounding it. Applying the knowledge I’d learned about the pastoral lense, I blended my own perspective of the peacefulness and tranquility of the soft and quiet morning after a night of rain. Another instance of my growth in my writing skills is demonstrated through my Week 4 Response, in which I summarized Dr. Oreskes’ talk. Through my writing responses, I’d learned the importance of picking 1 aspect or concept to focus on and explore the depth of that topic, rather than trying to cover a multitude of different concepts. For week 4, I solely concentrated on her idea that diversity is the core driving force behind science’s credibility. I learned to make connections with my own ideas, as well as her writing pieces and Charles Darwins’ “The Origins of Species.” I am extremely proud and happy with my growth and learning this quarter and I’m very excited to continue my journey in the winter!
	</p>

	<h3>Part 2</h3>
	<p>
		One concept that I learned this term that most impacted my understanding of concepts of the environment is definitely the 3 environmental lenses of pastoral, picturesque, and sublime. 
I found the idea that there are genuinely endless viewpoints and perspectives on nature to be extremely fascinating. All 3 lenses carry important lessons and hold truth within their ideals. The pastoral lense gives us a nostalgic and optimistic view of the beauty of nature and how it can be used to benefit and enliven society and people. The picturesque contains a healthy balance of appreciating nature and also containing a skeptic point of view that acknowledges the potential ambiguity and darkness of it. This gray area that picturesque lives in opens up so many different possibilities of looking at how nature interacts with people. Different environmental narratives can make us feel different ways towards nature. The sublime shows us the dangers of the unknown and the thrilling sensation of feeling overwhelmed as such a small being in such a vast and wild arena. This topic opened up my eyes to the fact that there is no 1 correct way to view nature and its interaction with humans, as each perspective can teach us different valuable lessons in different contexts. My favorite part about this topic was observing the visual art  and paintings that arose from these 3 environmental lenses. I loved seeing the various different strokes, shades, intentional foreground and background subjects, and how man made architecture was weaved into all.
	</p>

	<h3>Part 3</h3>
	<p>
		One key concept I definitely struggled to comprehend was the concept of Neoliberalism and its connection with the CAT 1 course material. My current understanding of Neoliberalism is that it prioritizes the wants and desires of the private free market economy and advocates for less governmental control. It took me a while to grasp this concept since I had never interacted with it before and I was deeply confused on how an economic system like this could serve people who aren’t as economically successful. I also struggled to see the connection between Neoliberalism with nature and the environment at first as well. My interpretation now is that it would make protecting the environment to be a harder process since it takes away the ability to act as a humankind. Without some sort of policy that enforces all private and public sectors to lower fossil fuels and carbon emissions, most companies will only function out of what directly brings them the most profit in the short term. Many companies that depend on fossil fuels as their business models would not be inclined to comply with switching to environmentally friendly strategies instead, as it would require a great amount of money. I do find this concept of placing privatization first to be very interesting and I would be happy to learn more.
	</p>

	<h3>Part 4</h3>
	<p>
		Given the historical timeframe, one screening that I would change would be The Incredible Shrinking Man. The main reasoning I have is that I did not find the film to be that interesting nor applicable to our class as compared to the other films we watched. I enjoyed Wall-E and Godzilla because they had a very profound connection with the media’s portrayal of the environment and nuclear anxiety. The endings of both movies inspired me to think about humans’ carelessness with nature and how often we abuse our natural resources because we perceive it to always be there. It made me question my own impact to Earth in my daily life. However, The Incredible Shrinking Man did not garner a similar reaction from me. The film only focuses on the dangers of manmade products for the first half, with the second half transitioning to toxic masculinity at the time. After watching the film, I did not feel any sense of questioning the broader scope of pesticides and insecticides, most likely because the film was centered around the effects of chemicals on a human and not so much on the environment. As a replacement, I would suggest a film that discusses how these harmful chemicals affect wildlife and nature in addition to human civilization. I feel that this would be a better fit for future classes because it would encapsulate the effects of dangerous chemicals towards Earth’s biodiversity and life. 
	</p>
</Layout>
