---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi! I'm Jenny!</h1>
			<p>
				This is my astro website.
			</p>
			<ul>
				<li>I used the blog template to create this.</li>
				<li>There is are directories for assets, components, content, layouts, pages, and styles.</li>
				<li>This will go towards my CSE134B Homework 4 assignment.</li>
				<li>Blogs tab will contain a few weekly journal entries from my CAT 1 class.</li>
				<li>About tab will contain the final porfolio writing from my CAT 1 class.</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
